
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
}

body {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
}

* {
  font-family: 'Comfortaa', sans-serif;
}
